* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', 'Verdana', sans-serif;
  }

.body {
  background: #ffff;
  display: flex;
  flex-direction: column;
  }

/* Top Header Styling*/
.logo {
  font-family:'Bebas neue', impact, sans-serif;
  padding: 20px;
  font-display: 5px;
  font-size: 200%;
  letter-spacing: 3px;
  color:#f00f14
}

/* Top nav bar styling*/
.topnav{
  display: flex;
  align-items: right;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 20px;
  margin: 10px 20px;
  position: relative;
}

a {
  font-size: 100%;
  color: #f00f14;
  text-decoration: none;
}

li :hover {
  color:#471415
}

li :active {
  color:black
}

/* hero section */
.hero {
  text-align: center;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 500px;
  width: 100%;
  margin-bottom: 140px;
}

.h2 {
  width: 100%;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 180%;
  color: white;
}

.hero-p {
  width: 100%;
  position: relative;
  top: 35%;
  font-size: 100%;
  color: white; 
}

#headshot {
  width: 250px;
  height: 250px;
  position: relative;
  margin-top: 260px;
}

/* About Me */

#about-me {
  width: 70%;
  margin: auto;
  text-align: center;
}

.section-heading {
  font-size: 170%;
  font-family:'Bebas neue', 'Impact', sans-serif;
}

.p {
margin-top:20px;
}

/* Projects */

#projects {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}

.site-title {
  font-size: 120%;
  color:#ffff;
  font-weight: 400;
}

.site-name{
  font-size: 110%;
  color: #ffff;
  font-weight: 200;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#big.card {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-image: url("./assets/images/theatre.png");
border: 10px;
padding: 50px;
height: 300px;
border-radius: 10px;
border-color: #f00f14;
margin-bottom: 20px;
margin: auto;
}

