* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', 'Verdana', sans-serif;
  }

.body {
  background: #ffff;
  }

/* Top Header Styling*/
.logo {
  font-family:'Bebas neue', 'Impact', sans-serif;
  padding: 20px;
  font-display: 5px;
  font-size: 200%;
  letter-spacing: 3px;
  color:#f00f14
}

/* Top nav bar styling*/
.topnav{
  display: flex;
  align-items: right;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 20px;
  margin: 10px 20px;
  position: relative;
}

a {
  font-size: 100%;
  color: #f00f14;
  text-decoration: none;
}

li :hover {
  color:#471415
}

li :active {
  color:black
}

/* hero section */
.hero {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}

.h2 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 180%;
  color: white;
}

.hero-p {
  display:block;
  width: 100%;
  text-align: center;
  position: relative;
  top: 40%;
  font-size: 100%;
  color: white; 
}

#headshot {
  position: absolute;
  top: 400px;
  right: 35%;
  width: 300px;
  height: 300px;
  border-radius: 100px;
}
