* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', 'Verdana', sans-serif;
  }

.body {
  background: #ffff;
  color: #471415;
  }

  header {
    padding: 20px;
    text-align: left;
    background: #ffffff;
    color: #f00f14;
  }

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
}

.topnav {
  padding-top:15px;
  float:right;
  font-size:20px;
  margin-left: 25px;
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: left 10px;
  justify-content: space-around;
  font-size: 20px;
  padding-top:15px;
  float: right;
  font-size: 20px;
  color: #f00f14
}

